[user]
  name = Aaron Burtnyk
  email = email-goes-here

[core]
  autocrlf = input
  editor = subl -n -w

[alias]
  a = add --all
  b = branch
  c = commit
  d = diff
  l = log --stat
  m = merge
  s = status

  bd = branch -d
  ca = commit --amend
  cl = config --list
  ch = checkout
  cp = cherry-pick
  dg = diff --staged
  ds = diff --stat
  dw = diff -w
  du = "!sh -c 'git diff --unified=$1' -"
  ld = "!sh -c 'git log -p --all -- $1' -"
  lp = log --pretty=format:'%C(yellow)%h %Creset%s %Cgreen[%ad] %Cred[%an]' --date=local
  lm = "!U=$(git config user.name) && git log --author="\"$U\"" --pretty=format:'%C(yellow)%h %Creset%s %Cgreen[%ad] %Cred[%an]' --date=local"
  ln = "!sh -c 'git log -n $1' -"
  ms = merge --squash
  pl = pull --rebase
  ps = push
  rc = rebase --continue
  rh = reset HEAD~
  rs = reset --soft HEAD~
  rtl = reset --hard HEAD~1
  sa = "!sh -c 'git stash apply stash@{$1}' -"
  sd = "!sh -c 'git stash drop stash@{$1}' -"
  sh = show
  sl = stash list
  sp = stash pop
  ss = "!sh -c 'git stash show -p stash@{$1}' -"
  st = stash

  stats = shortlog -sn --no-merges
  stalk = "!f() { git log --author=$1 --pretty=format:'%C(yellow)%h %Creset%s %Cgreen[%ad] %Cred[%an]' --date=short; }; f"

[color]
  ui = true

[color "diff"]
  whitespace = white reverse

[push]
  default = simple
