[user]
	name = Aaron Burtnyk
	email = aaron.burtnyk@basekit.com
[core]
	editor = "subl -w"
[alias]
	a = add
	b = branch
	s = status
	d = diff
	f = fetch
	c = commit
	l = log
	bc = branch --contains
	ds = diff --stat
	dc = diff --cached
	ca = commit --amend
	ch = checkout
	cp = cherry-pick
	mg = merge
	sh = show
	al = config --get-regexp alias
	lp = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
	ploc = "!f() { B=`git branch | grep '^\\*' | awk '{print $2}'`; echo "Pulling from $B..."; git pull origin $B; }; f"
	fff = flow feature finish
	ffs = flow feature start
[color]
	ui = auto
[color "diff"]
	whitespace = red reverse