[user]
	name = Aaron Burtnyk
	email = aaron.burtnyk@basekit.com
[core]
	editor = "subl -w"
[alias]
	a = add
	b = branch
	c = commit
	d = diff
	f = fetch
	g = grep -n
	l = log --stat
	m = merge
	s = status

	al = config --get-regexp alias
	bc = branch --contains
	ca = commit --amend
	ch = checkout
	cp = cherry-pick
	dc = diff --cached
	ds = diff --stat
	dw = diff --color-words
	gi = grep -ni
	lp = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset' --date=relative
	sh = show

	ploc = "!f() { B=`git branch | grep '^\\*' | awk '{print $2}'`; echo "Pulling from $B..."; git pull origin $B; }; f"
	psoc = "!f() { B=`git branch | grep '^\\*' | awk '{print $2}'`; echo "Pushing to $B..."; git push origin $B; }; f"

	fff = flow feature finish
	ffs = flow feature start
[color]
	ui = auto
[color "diff"]
	whitespace = red reverse
[color "grep"]
    match = green